.headline {
  text-align: center;
  h1 {
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 5px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 800;
    @media (max-width: 1200px) {
      font-size: 22px;
    }
    @media (max-width: 764px) {
      font-size: 20px;
    }
  }
  h2 {
    margin-bottom: 20px;
    color: #e9d600;
    font-size: 27px;
    line-height: 25px;
    font-weight: 300;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-shadow: 1px 1px 6px #000;
    @media (max-width: 1200px) {
      font-size: 25px;
    }
    @media (max-width: 991px) {
      font-size: 22px;
    }
    @media (max-width: 764px) {
      font-size: 16px;
    }
    @media (max-width: 575px) {
      margin-bottom: 0;
    }
  }
  h4 {
    font-size: 22px;
    font-weight: 300;
    padding: 0;
    margin: 0 0 20px 0;
    line-height: 1.1;
    @media (max-width: 764px) {
      font-size: 12px;
    }
  }
  span {
    color: #ff9a33;
    font-weight: 700;
  }
}