.section-2 {
    position: relative;
    padding: 80px 10px;
    background-color: #fff;
    text-align: center;
    @media (max-width: 575px) {
        padding: 20px 0;
    }
    .subtitle {
        margin-bottom: 14px;
        color: #8e8e9c;
        font-size: 18px;
        font-weight: 300;
        text-align: center;
        @media (max-width: 575px) {
            font-size: 11px;
            line-height: 24px;
            letter-spacing: 0px;
            text-transform: none;
            margin-bottom: 2px;
        }
    }
    & .border-block {
        padding: 15px 8px;
        border: 1px solid #dcebf7;
        border-radius: 5px;
        background: #ffffff;
        margin-top: 24px;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        &:hover {
            background: #fdfbfb;
        }
        img {
            width: 35%;
            margin: 20px auto;
            padding: 20px;
            border: 10px solid #fff;
            border-radius: 50%;
            background-color: #e9d600;
            -webkit-box-shadow: 0 0 0 1px #9e9204;
            box-shadow: 0 0 0 1px #9e9204;
        }
        .border-block_title {
            font-size: 24px;
            font-weight: 300;
            text-transform: uppercase;
            text-align: center;
            color: #676770;
            @media (max-width: 575px) {
                font-size: 19px;
                line-height: 21px;
            }
        }
        .border-block_description {
            color: #6a859c;
            font-size: 13px;
            line-height: 23px;
            font-weight: 300;
            margin: 10px 0;
        }
    }
}