.Regform, .FirstRegform, .SecondRegform {
    position: relative;
    text-align: center;

    .logo {
        width: 100%;
        margin-bottom: 15px;
    }
    .small {
        width: 174px;
        margin: 0 auto;
    }
    .hint {
        width: 270px;
        margin-bottom: 3px;
    }

    & .inner {
        height: 100%;
    }

    .title {
        p {
            color: #3c3d3d;
            font-size: 17px;
            line-height: 27px;
            text-align: center;
            margin-bottom: 0;
            font-weight: 700;
            span {
                color: #e2a62b;
            }
        }
    }


    & .form-wrapper {
        overflow: hidden;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 100%;
        height: auto;
        -webkit-transition: margin 0.3s ease-out;
        -o-transition: margin 0.3s ease-out;
        transition: margin 0.3s ease-out;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @media (max-width: 768px) {
            height: auto;
            -ms-flex-pack: distribute;
            justify-content: space-around;
        }

        &.step {
            margin-left: -100%;
        }
    }

    & .forw-wrapper_input {
        position: relative;
    }

    & .req {
        -webkit-padding-start: 0;
        padding-inline-start: 0;
        list-style-type: circle;

        & li {
            white-space: nowrap;
            overflow: hidden;
            font-weight: 600;
            font-size: .8em;
            margin-top: 10px;
            line-height: 1;
            position: relative;
            padding-left: 10px;
        }
        & .list {
            color: #ff0000;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                background: #ff0000;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 0;
                bottom: 0;
                margin: auto 0;
                left: 0;

            }
        }
        & .ok {
            color: #0bd60b;
            position: relative;
            &:before {
                content: "";
                display: block;
                position: absolute;
                background: #0bd60b;
                width: 5px;
                height: 5px;
                border-radius: 50%;
                top: 0;
                bottom: 0;
                margin: auto 0;
                left: 0;
            }
        }
    }

    & .help-block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        position: relative;
        height: 16px;
        .help-icon {
            background: url("./help-round-button.png") no-repeat center right;
            height: 16px;
            width: 16px;
            cursor: pointer;
            .help-info {
                position: absolute;
                bottom: 100%;
                right: 0;
                display: none;
                background: #201e1f;
                color: #ffffff;
                font-size: 14px;
                padding: 5px 9px;
                border-radius: 5px;
                z-index: 5;
            }
            &:hover {
                .help-info {
                    display: block;
                }
            }
        }
    }

    /*& .steps {
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        top: -25px;
        left: 0;
        right: 0;

        & .num {
            padding: 7px;
            width: 45px;
            height: 45px;
            text-align: center;
            font-family: 'Oswald', sans-serif;
            font-size: 20px;
            border-radius: 50%;
            color: #6d6d6d;
            background: linear-gradient(to bottom, #e4e4e4 0%, #c6c7c6 100%);
            border: 1px #cdcdcd solid;
            font-weight: 700;
            &:first-child {
                background: linear-gradient(to bottom, #fdb241 0%, #e98e2d 100%);
                color: #ffffff;
                border-color: #bd8128;
                text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.35);
            }
        }
        .check {
            background: linear-gradient(to bottom, #fdb241 0%, #e98e2d 100%);
            color: #ffffff;
            border-color: #bd8128;
            text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.35);
        }
        .check + .num {
            background: linear-gradient(to bottom, #fdb241 0%, #e98e2d 100%);
            color: #ffffff;
            border-color: #bd8128;
            text-shadow: 0.5px 0.866px 0px rgba(0, 0, 0, 0.35);
        }
    }*/

    .inputfield {
        display: block;
        height: 60px;
        margin-bottom: 15px;
        border-radius: 100px;
        width: 100%;
        padding: 8px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #333333;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        -webkit-transition: .3s ease;
        -o-transition: .3s ease;
        transition: .3s ease;
        text-align: center;
        &::-webkit-input-placeholder {
            color: #ccc;
        }
        &::-moz-placeholder {
            color: #ccc;
        }
        &:-ms-input-placeholder {
            color: #ccc;
        }
        &::-ms-input-placeholder {
            color: #ccc;
        }
        &::placeholder {
            color: #ccc;
        }
        &:hover {
            border: 2px solid #e2a62b;
        }

        &.tel {
            padding-left: 28% !important;
            width: 100%;
            background-position: 0 -6.12vw;

            @media (max-width: 1200px) {
                padding-left: 32% !important;
                background-position: 0 -9.8vw;
            }

            @media (max-width: 768px) {
                padding-left: 38% !important;
                background-position: 0 -36vw;
            }
        }

        &.email {
            background-position: 0 -8vw;

            @media (max-width: 1200px) {
                background-position: 0 -12.54vw;
            }

            @media (max-width: 768px) {
                background-position: 0 -48vw;
            }
        }

        &.pass {
            background-position: 0 -10vw;

            @media (max-width: 1200px) {
                background-position: 0 -15.24vw;
            }

            @media (max-width: 768px) {
                background-position: 0 -60vw;
            }
        }
        &.pass2 {
            margin-bottom: 15px;
        }

        &:focus {
            border-color: #66afe9;
            outline: 0;

            &.pass {
                background-position: 0 -21.9vw;

                @media (max-width: 1200px) {
                    background-position: 0 -32vw;
                }

                @media (max-width: 768px) {
                    background-position: 0 -131.5vw;
                }
            }

            &.tel {
                background-position: 0 -18vw;

                @media (max-width: 1200px) {
                    background-position: 0 -26.6vw;
                }

                @media (max-width: 768px) {
                    background-position: 0 -107.4vw;
                }
            }
        }
    }
    .small-input {
        height: 35px;
        margin-bottom: 3px;
    }
    & .errors {
        color: #ff3215;
        font-size: 14px;
        line-height: 1.1;
        margin-bottom: 10px;
    }

    & .agreement {
        position: -webkit-sticky;
        position: sticky;
        font-weight: 400;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0.4vw 0;
        /*overflow: hidden;*/
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        /*word-break: break-all;*/
        word-wrap: break-word;
        /* overflow-wrap: break-word;
         hyphens: auto;*/

        @media (max-width: 768px) {
            margin: 2vw 0;
            height: 10vw;
        }

        & span {
            font-size: 0.61vw;
            display: block;
            line-height: 1.2;
            /* overflow: hidden;*/
            width: 100%;

            @media (max-width: 1200px) {
                font-size: 0.92vw;
            }

            @media (max-width: 768px) {
                font-size: 2.92vw;
                text-align: left;
            }
        }

        & input[type=checkbox] {
            margin: 0.24vw 0.4vw 0 0;
            min-width: 0.72vw;
            min-height: 0.72vw;
            display: block;

            @media (max-width: 1200px) {
                min-width: 1.3vw;
                height: 1.3vw;
            }

            @media (max-width: 768px) {
                min-width: 3.3vw;
                height: 3.3vw;
                margin: 0.24vw 1vw 0 0;
            }
        }
    }

    & .start {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100%;
        height: 84px;
        margin-right: auto;
        margin-left: auto;
        border-radius: 100px;
        font-size: 24px;
        color: #ffffff;
        text-transform: uppercase;
        padding: 9px 15px;
        background-image: -webkit-gradient(linear, left top, right top, from(#e9d600), to(#f8c740));
        background-image: -o-linear-gradient(left, #e9d600, #f8c740);
        background-image: linear-gradient(90deg, #e9d600, #f8c740);
        font-weight: 800;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid transparent;
        margin-bottom: 10px;
        text-decoration: none;

        &:hover {
            color: #ffffff;
            background-image: -webkit-gradient(linear, right top, left top, from(#e2a62b), to(#f8c740));
            background-image: -o-linear-gradient(right, #e2a62b, #f8c740);
            background-image: linear-gradient(270deg, #e2a62b, #f8c740);

        }
    }

    & .bottominfo {
        /*overflow: hidden;*/
        margin: 0.4vw auto;
        font-size: 0.53vw;
        text-align: center;
        /* word-break: break-all;*/
        word-wrap: break-word;
        /*overflow-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;*/

        & .more {
            text-decoration: underline;
            -webkit-text-decoration-style: dotted;
            text-decoration-style: dotted;
            text-align: center;
            cursor: pointer;
            display: block;

            @media (max-width: 768px) {
                display: inline-block;
            }
        }

        @media (max-width: 768px) {
            font-size: 2.5vw;
            max-height: 8vw;
            margin: 1vw auto;
        }

        & img {
            max-height: 0.6vw;

            @media (max-width: 768px) {
                max-height: 2.5vw;
            }
        }
    }

    & .morebox {
        opacity: 0;
        pointer-events: none;
        margin: 0.4vw auto;
        font-size: 0.5vw;
        position: absolute;
        width: 42%;
        background: rgba(68, 68, 68, 0.9);
        border-radius: 0.5vw;
        padding: 0.4vw;
        color: #fff;
        text-align: justify;
        right: calc(27%);
        bottom: calc(8%);
        -webkit-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;

        @media (max-width: 768px) {
            font-size: 2.5vw;
            border-radius: 2vw;
            padding: 0.8vw;
            bottom: calc(6%);
        }

        &::before {
            content: '';
            -webkit-clip-path: polygon(50% 100%, 0 0, 100% 0);
            clip-path: polygon(50% 100%, 0 0, 100% 0);
            position: absolute;
            width: 15px;
            height: 8px;
            top: calc(100% - 1px);
            left: calc(46%);
            background: rgba(68, 68, 68, 0.9);
        }
    }

    &.inmodal {
        background-color: transparent;
        border: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #fff;

        @media (max-width: 768px) {
            padding: 3vw 4.2vw;
        }
    }

    .iti-flag {
        display: none;
    }

    .selected-flag {
        width: 25% !important;

        @media (max-width: 1200px) {
            width: 30% !important;
        }

        @media (max-width: 768px) {
            width: 35% !important;
        }
    }

    .iti-arrow {
        margin-top: 0vw !important;

        @media (max-width: 768px) {
            border-left: 6px solid transparent !important;
            border-right: 6px solid transparent !important;
            border-top: 9px solid #555 !important;
            margin-top: -0.5vw !important;

            &.up {
                border-bottom: none !important;
            }
        }
    }


    .intl-tel-input .country-list {
        background: #eeeeee;
    }
    .intl-tel-input .country-list .country {
        color: #333333;
    }
    .intl-tel-input.allow-dropdown.separate-dial-code .selected-dial-code {
        padding-left: 0;
        font-size: 16px;
        font-weight: 400;
        background: #eeeeee;
        color: #333333;
        border-top-left-radius: 22px;
        border-bottom-left-radius: 22px;
        overflow: hidden;
        outline: none;

        @media (max-width: 1200px) {
            font-size: 1.4vw;
        }

        @media (max-width: 768px) {
            padding-left: 3.4vw;
            font-size: 4.8vw;
        }
    }

    .intl-tel-input {
        margin-bottom: 20px;
        color: #ffffff;
    }
}

.error {
    color: #333;
    pointer-events: none;
    opacity: 0;
    position: absolute;
    padding: 6px 0;
    background-color: rgb(254, 255, 233);
    min-width: 10%;
    font-size: 15px;
    margin: auto 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 50;
    border-radius: 4px;
    -webkit-filter: drop-shadow(0px 0px 1px #000);
    filter: drop-shadow(0px 0px 1px #000);
    -webkit-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;

    &.active {
        opacity: 1;
    }

    @media (max-width: 1200px) {
        font-size: 12px;
    }

    & span {
        margin: auto 6px;

        @media (max-width: 1200px) {
            margin: auto 2px;
        }
    }

    & .excl {
        display: inline-block;
        fill: orange;
        width: 20px;
        margin: auto 3px;

        @media (max-width: 1200px) {
            width: 15px;
        }
    }

    &::before {
        content: '';
        -webkit-clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
        clip-path: polygon(50% 40%, 0% 100%, 100% 100%);
        position: absolute;
        width: 15px;
        height: 15px;
        top: calc(0% - 12px);
        left: calc(0% + 35px);
        background-color: rgb(254, 255, 233);
    }
}

.loading {
    width: 100%;
    margin: 4.8vw auto;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    50% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}